@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    overflow-x: hidden;
}

.body {
    background-image: url("../../img/fondo.jpg");
    background-size: 100% 107%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#menuBar {
    background-color: transparent;
}

.navbar-nav li a {
    color: black;
}


#homeBody {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

#title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    margin-top: 700px;
    letter-spacing: 3px;
    overflow-y: hidden;
}

