.homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .div {
    background-color: #ffffff;
    height: 2092px;
    position: relative;
    width: 1440px;
  }
  
  .homepage .we-re-farmers {
    color: #000000;
    font-family: "Newsreader-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 217px;
    letter-spacing: -1.28px;
    line-height: 76.8px;
    position: absolute;
    text-align: center;
    top: 278px;
    width: 1020px;
  }
  
  .homepage .text-wrapper {
    color: #000000;
    font-family: "Newsreader-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -1.28px;
    line-height: 76.8px;
  }
  
  .homepage .span {
    font-family: "Newsreader-Italic", Helvetica;
    font-style: italic;
  }
  
  .homepage .button {
    all: unset;
    background-color: #426b1f;
    border-radius: 8px;
    box-sizing: border-box;
    height: 64px;
    left: 607px;
    overflow: hidden;
    position: absolute;
    top: 481px;
    width: 227px;
  }
  
  .homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    left: 32px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }
  
  .homepage .we-believe-in {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 309px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 1549px;
    width: 822px;
  }
  
  .homepage .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 96px;
    letter-spacing: 0.56px;
    line-height: 22.4px;
    position: absolute;
    top: 1554px;
    width: 181px;
  }
  
  .homepage .jonathan-kemper {
    height: 693px;
    left: 96px;
    object-fit: cover;
    position: absolute;
    top: 701px;
    width: 504px;
  }
  
  .homepage .central-california {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 660px;
    letter-spacing: -0.14px;
    line-height: 22.4px;
    position: absolute;
    top: 1286px;
    width: 736px;
  }
  
  .homepage .text-wrapper-4 {
    font-weight: 500;
  }
  
  .homepage .text-wrapper-5 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
  }
  
  .homepage .header {
    background-color: transparent;
    height: 112px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .homepage .world-peas {
    height: 23px;
    left: 96px;
    position: absolute;
    top: 42px;
    width: 150px;
  }
  
  .homepage .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 744px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 831px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 956px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 1094px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .homepage .cart-button {
    background-color: #426b1f;
    border-radius: 8px;
    height: 48px;
    left: 1218px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    width: 126px;
  }
  
  .homepage .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 21px;
    left: 23px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
  }
  
  .homepage .stocksy {
    height: 480px;
    left: 660px;
    object-fit: cover;
    position: absolute;
    top: 791px;
    width: 780px;
  }
  