.header {
    position: relative;
    width: 1440px;
    margin-left: auto;
  }

  .header-img {
    list-style: none;
  }
  
 .hasby-pizza {
    height: 31px;
    left: 97px;
    position: absolute;
    top: 42px;
    width: 153px;
  }
  
  .header .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 741px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 850px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 967px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 1090px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  

  .menu {
    list-style: none;
  }

  .menu li a{
    text-decoration: none;
    color: black;
  }
  
/************************ FIN MENU *********************/



/* Ajustes pedido */
#tabla-descuentos,
#customPizza  {
  overflow: hidden;
  /* height: 0; */
  transition: height .3s;
}

label {
  user-select: none;
}
label[for="discount"],
label[for="custom"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: .3s;
}
label[for="discount"]:hover,
label[for="custom"]:hover {
  background: #ccc;
  transition: .3s;
}
label[for="discount"]::after,
label[for="custom"]::after {
  content:"\21B5";
  font-size: 50px;
}
input#discount,
input#custom {
  display: none;
}
#customPizza {
  padding: 0 0 0 10px;
}
#customPizza > article {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
#customPizza > article > span{
  width: 100%;
  text-transform: capitalize;
  position: relative;
  display: block;
  text-align: left;
  padding: 0;
  margin-bottom: 5px;
}
#customPizza > article label {
  width: 100%;
  text-transform: capitalize;
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .3s;
}
#customPizza > article input[type="radio"] {
  display: none;
}
#customPizza > article input + label:hover {
  background-color: #ccc;
  transition: .3s;
}
#customPizza > article input + label::after {
  content:"";
  width: 0%;
  height: 0px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: .3s;
}
#customPizza > article input:checked + label::after {
  content:"";
  width: 100%;
  height: 2px;
  transition: .3s;
}