.header {
    position: relative;
    width: 1440px;
    margin-left: auto;
  }

  .header-img {
    list-style: none;
  }
  
 .hasby-pizza {
    height: 31px;
    left: 97px;
    position: absolute;
    top: 42px;
    width: 153px;
  }
  
  .header .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 741px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 850px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 967px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .header .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 1090px;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  

  .menu {
    list-style: none;
  }

  .menu li a{
    text-decoration: none;
    color: black;
  }
  
/************************ FIN MENU *********************/




