<nav>
    <ul>
        <li>
            <a href="index.php?menu=jugador&option=home">Home</a>
        </li>
        <li>
            <a href="index.php?menu=jugador&option=ejer1">Ejercicio 1</a>
        </li>
        <li>
            <a href="index.php?menu=jugador&option=ejer2">Ejercicio 2</a>
        </li>
        <li>
            <a href="index.php?menu=jugador&option=ejer3">Ejercicio 3</a>
        </li>
        <li>
            <a href="index.php?menu=jugador&option=ejer4">Ejercicio 4</a>
        </li>
    </ul>
</nav>
