<nav>
    <ul>
        <li>
            <a href="index.php?menu=entrenador&option=homeLoggedIn" class="menu-loggedIn">Home</a>
        </li>
        <li>
            <a href="index.php?menu=entrenador&option=listar" class="menu-loggedIn">Listar Jugador</a>
        </li>
        <li>
            <a href="index.php?menu=entrenador&option=add" class="menu-loggedIn">Añadir Jugador</a>
        </li>
        <li>
            <a href="index.php?menu=entrenador&option=logout" class="menu-loggedIn">Log Out</a>
        </li>
    </ul>
</nav>
